@import './palette.scss';
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);

html {
  font-size:62.5%;
  box-sizing: border-box;
}

body {
  background-color: $default-primary-bgcolor;
  color: $primary-text-color;
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  text-rendering: geometricPrecision;
}

.app {

}
