@import './fonts.scss';
@import './palette.scss';
@import './styles.scss';

html {
  font-size:62.5%;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $default-primary-bgcolor;
  color: $primary-text-color;
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  text-rendering: geometricPrecision;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.dev {
  border: dashed 1px red;
  padding: 2px;
  overflow-x: auto;

  .page {
    min-width : 400px;
    border: solid 1px $dark-transparent-bgcolor;
    margin-right: 1px;
  }
}
