/* Palette */

// background colors
$default-primary-bgcolor: #FFF;
$dark-primary-bgcolor: #555;
$dark-transparent-bgcolor: rgba(50, 50, 50, 0.7);
$light-primary-bgcolor: #CCC;
$light-transparent-bgcolor: rgba(90, 90, 90, 0.2);
$info-bgcolor: #FFF;
$accent-bgcolor: #FF4081;

// colors
$default-primary-color: #3F51B5;
$text-primary-color: #FFFFFF;
$primary-text-color: #212121;
$secondary-text-color: #727272;
$divider-color: #B6B6B6;
